<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pac man game</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body class="darkbg-active">
<h1>PAC MAN</h1>
<div class="menu">
    <table>
        <tr class="single">
            <td colspan="3">
                <button class="hidden" id="continuegamebutton">
                    Continue Game
                </button>
            </td>
        </tr>
        <tr class="columns">
            <td>
                <button id="newgamebutton">
                    Classic
                </button>
            </td>
            <td>
                <button disabled id="newMLgamebutton">
                    ML
                </button>
            </td>
            <td>
                <button disabled id="newAutogamebutton">
                    Auto
                </button>
            </td>
        </tr>
        <tr class="single" >
            <td colspan="3">
                <button id="quitbutton">
                    Quit
                </button>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    require('../controllers/indexController').indexController();
</script>
</html>