<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading game</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body class="darkbg-active">

<div id="progressbar">
    <table>
        <tr class="columns">
            <td id="progresstext"></td>
            <td id="accuracytext"></td>
            <td id="streaktext"></td>
        </tr>
    </table>
</div>
<script>
    const ProgressController = require('../controllers/progressController').ProgressController;
    let controller = new ProgressController();
    controller.update();
</script>
</body>
</html>